include:
  - path: backend.yaml

services:
  authentication:
    container_name: omnixys-authentication
    image: omnixys/authentication-service:latest
    # pull_policy: always
    restart: unless-stopped
    env_file:
      - ./.env
    healthcheck:
      test:
        [
          'CMD-SHELL',
          'wget -q --spider http://localhost:3000/health/readiness || exit 1',
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 5s
    volumes:
      - type: bind
        source: ./.env
        target: /opt/app/.env
      - type: bind
        source: ../keys/certificate.crt
        target: /opt/app/certificate.crt
        read_only: true
      - type: bind
        source: ../keys/key.pem
        target: /opt/app/key.pem
        read_only: true
      - type: bind
        source: ../../${LOG_DIRECTORY}/docker-${LOG_FILE_DEFAULT_NAME}
        target: /opt/app/${LOG_DIRECTORY}/${LOG_FILE_DEFAULT_NAME}
    ports:
      - target: 3000
        published: 7501
    depends_on:
      tempo:
        condition: service_healthy
      kafka:
        condition: service_healthy
      keycloak:
        condition: service_healthy
    networks:
      - omnixys-network

networks:
  omnixys-network:
    driver: bridge
